.products{
    margin-top : 100px;
    margin-left : 300px;
    display : grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    column-gap : 10px;
    row-gap : 10px;  
}

.green-list{
    height : 350px;
    background-color: aquamarine;
    border-width: 100000em;
}

.blue-list{
    height : 350px;
    background-color: rgb(255, 255, 255);
    display : flex;
    flex-direction : column;
}

.item{
    height : 100px;
    display : flex;
    flex-direction : column;
}

.item-photo-div{
    margin-bottom : 0px;
}

.item-photo{
    height : 250px;
    width : 230px;
    object-fit: cover;
}

.item-info{
    margin-top : 0px;
    padding-left : 10px;
}